{% block imagepreview_widget %}
    {{ form_rest(form) }}
    {% if imageSrc is null or imageSrc == '' %}
        No picture set
    {% else %}
        <a href="{{ imageSrc }}" target="_blank"><img src="{{ imageThumb }} "/></a>
    {% endif %}
{% endblock imagepreview_widget %}

{% block rawstring_widget %}
    {{ value }}|raw
{% endblock rawstring_widget %}