/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/web/bundles
/web/uploads
/web/media
!/web/uploads/.gitkeep
*.php~
.vagrant
.idea
.sass-cache
.editorconfig
.jshintrc
.project
.settings
.DS_Store
.git

